body {
    height: 100vh;
    box-sizing: border-box;
    font-family: "Montserrat";
    font-weight: normal;
    margin: 0px;
    overflow: hidden;
}

/* title bar styling */
#to-do {
    color: white;
    margin: 0px;
    padding: 1rem;
    background-color: rgb(20, 20, 20);
}

/* drop down menu */
.drop-button {
    background-color: transparent;
    color: white;
    border-style: none;
}

.dropdown {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: inline-block;
}

.drop-menu {
    display: none;
    position: absolute;
    right: 0;
    min-width: 3rem;
    padding: 0;
}

.drop-menu a {
    background-color: rgb(20, 20, 20);
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
}

.drop-menu a:hover {
    background-color: rgb(100, 0, 100);
}

.dropdown:hover .drop-menu {
    display: block;
}

.dropdown:hover .drop-button {

}

/* All non-title bar stuff */
.full-page {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* sidebar styling */
.sidebar {
    height: 100%;
    background-color: rgba(30, 30, 30, 1);
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.main, .daily {
    display: inline-flex;
    flex-direction: column;
    /* position: absolute; */
    /* width: 20%; */
}

.daily {
    position: relative;
    top: 20%;
    border-style: solid;
    border-color: transparent;
    border-top-color: rgba(128, 128, 128, 0.349);
    /* display: none; */
}

/* sidebar dropdown styling */
.side-drop {
    display: inline-block;
    padding: 0.5rem;
}

.side-drop-btn {
    color: rgb(200, 200, 200);
    font-family: "Montserrat";
    font-size: x-large;
    text-align: left;
    background-color: transparent;
    border-style: none;
    width: 100%;
}

.side-drop-menu {
    display: none;
    position: absolute;
    left: 2rem;
    background-color: transparent;
    padding: 0.5rem;
}

.side-drop-btn:hover {
    color: white;
}

.side-drop-menu button {
    background-color: transparent;
    color: rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    border-style: none;
    font-family: 'Montserrat';
    font-size: medium;
    padding: 0.5rem;
}

.side-drop-menu button:hover {
    color: white;
}

.show {
    display: block;
}


/* .side-drop-menu button {
    display: block;
}

.side-drop:hover .side-drop-menu {
    display: block;
} */

/* main styling */
.task-window {
    flex: 4;
    background: linear-gradient(135deg, black, 75%, rgb(100, 3, 119));
    background-attachment: fixed;
}

#task-body {
    position: absolute;
    height: 76%;
    width: 71%;
    background-color: rgba(255, 255, 255, 0.85);
    margin: 3rem;
    border-radius: 2rem;
}

#task-body h1 {
    position: absolute;
    left: 1.5rem;
}

#add-group {
    position: absolute;
    right: 2rem;
    top: 1.8rem;
}

#add-task {
    border-style: none;
    background-color: rgba(128, 128, 128, 0.349);
    height: 2rem;
    width: 2rem;
}

/* add task stuff */
#add-task:hover {
    background-color: rgb(200, 200, 200);
}

#add-task:active {
    background-color: rgba(30, 30, 30, 1);
}

.form-popup {
    /* display: none; */
    position: absolute;
    right: 2rem;
    height: 28rem;
    width: 40rem;
    border-style: solid;
}

.form-container {
    border-style: solid;
    border-color: aqua;
    height: 100%;
    display: flex;
    flex-direction: column;
}

