<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename = 'request_type.js') }}"></script>
    <title>Document</title>
  </head>
  <body>
    <form>
      <p>Favorite number:</p>
      <input type="text" name="favnum">
      <p>Favorite color:</p>
      <input type="text" name="favcolor">
      <input type="submit" value="submit">
    </form>
    <div></div>
  </body>
</html>